@font-face {
    font-family: 'work-sans';
    src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'work-sans-bold';
    src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
}